//css-in-less :)

.page-header .panel.wrapper {
  background-color: transparent;
}

.block-search input {
  border: none;
  border-bottom: 1px solid #c2c2c2;
  padding: 0 0;
}

.block-search input:focus {
  box-shadow: none !important;
}

.block-search .label:before {
  margin: 12px 10px 0 0;
}

.header.panel > .header.links,
.header.panel > .header.links > li > a,
.header.panel > .header.links > li > a:visited {
  color: #505050;
}

.header.panel > .header.links > li > a:hover {
  color: #313131;
}

@media only screen and (max-width: 767px) {
  .logo {
    margin-top: 12px;
  }

  .minicart-wrapper {
    margin-top: 12px;
  }
}

@media only screen and (min-width: 768px) {
  .page-header .header.panel {
    padding-bottom: 20px;
    padding-top: 20px;
  }

  .logo {
    margin: 0px auto 0 0;
  }

  .block-search {
    width: 40vw;
  }

  .minicart-wrapper {
    margin-top: 2px;
  }

  .header.panel > .header.links {
    margin-top: 7px;
  }
}
