
.fullname-register
{
  margin-top: 0px !important;
  width: 122px !important;
  height: 30px !important;
  font-family: Montserrat !important;
  font-size: 25px !important;
  font-weight: 600 !important;
  font-stretch: normal !important;
  font-style: normal !important;
  line-height: normal !important;
  letter-spacing: normal !important;
  color: #004376 !important;
}

.margin-title-register
{
  margin: 0 0 20px !important;
}

.register-center
{
  width: 60% !important;
  transform: translate(37%, 1%) !important;
}
.customer-account-create .page-main > .page-title-wrapper
{
  visibility: hidden !important;
  display: none !important;
}

.title-register .jpn-reg
{
  font-family: PingFangSC !important;
  font-size: 30px !important;
  font-weight: 600 !important;
  font-stretch: normal !important;
  font-style: normal !important;
  line-height: 2.33 !important;
  letter-spacing: normal !important;
  text-align: center !important;
  color: #004376 !important;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  height: 40px !important;
}

.title-register .eng-reg
{
  font-family: Montserrat !important;
  font-size: 25px !important;
  font-weight: normal !important;
  font-stretch: normal !important;
  font-style: normal !important;
  line-height: 2.8 !important;
  letter-spacing: normal !important;
  text-align: center !important;
  color: #505050 !important;
  margin-top: 0 !important;
  margin-bottom: 0px !important;
}

.btn-register
{
  width: 115px !important;
  height: 35px !important;
  background: #004376 !important;
  border: 1px solid #004376 !important;
}

// start login
.customer-account-login .page-main > .page-title-wrapper .page-title
{
  visibility: hidden !important;
}

.login-container
{
  position: relative;
}

.center
{
  width: 60% !important;
  margin: 0 !important;
  position: relative !important;
  top: 100px !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
}

.login-container .fieldset > .field > .control
{
  width: 100%;
}

.input-text-login
{
  width: 100% !important;
  padding: 12px 20px !important;
  margin: 8px 0 !important;
  box-sizing: border-box !important;
  border: none !important;
  border-bottom: 2px solid #505050 !important;
}

.margin-frgt-andbtn-login
{
  margin-bottom: 10px;
  text-align: right;
}

.disble-display
{
  display: none;
}

.actions-toolbar-login
{
  position: relative;
}

.login-container .fieldset:after
{
  display: none;
}

.btn-login
{
  width: 115px !important;
  height: 35px !important;
  background: #004376 !important;
  border: 1px solid #004376 !important;
}

.Forgot-Password {
  width: 143px !important;
  height: 19px !important;
  font-family: Montserrat !important;
  font-size: 15px !important;
  font-weight: 500 !important;
  font-stretch: normal !important;
  font-style: normal !important;
  line-height: normal !important;
  letter-spacing: normal !important;
  text-align: right !important;
  color: #004376 !important;
}

.title-login .jpn
{
  font-family: PingFangSC !important;
  font-size: 30px !important;
  font-weight: 600 !important;
  font-stretch: normal !important;
  font-style: normal !important;
  line-height: 2.33 !important;
  letter-spacing: normal !important;
  text-align: center !important;
  color: #004376 !important;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  height: 40px !important;
}

.title-login .eng
{
  font-family: Montserrat !important;
  font-size: 25px !important;
  font-weight: normal !important;
  font-stretch: normal !important;
  font-style: normal !important;
  line-height: 2.8 !important;
  letter-spacing: normal !important;
  text-align: center !important;
  color: #505050 !important;
  margin-top: 0 !important;
  margin-bottom: 50px !important;
}

//end login

//css-in-less :)

.page-header .panel.wrapper {
  background-color: transparent;
}

.block-search input {
  border: none;
  border-bottom: 1px solid #c2c2c2;
  padding: 0 0;
}

.block-search input:focus {
  box-shadow: none !important;
}

.block-search .label:before {
  margin: 12px 10px 0 0;
}

.header.panel > .header.links,
.header.panel > .header.links > li > a,
.header.panel > .header.links > li > a:visited {
  color: #505050;
}

.header.panel > .header.links > li > a:hover {
  color: #313131;
}

@media only screen and (max-width: 767px) {
  .logo {
    margin-top: 12px;
  }

  .minicart-wrapper {
    margin-top: 12px;
  }
}

@media only screen and (min-width: 768px) {
  .page-header .header.panel {
    padding-bottom: 20px;
    padding-top: 20px;
  }

  .logo {
    margin: 0px auto 0 0;
  }

  .block-search {
    width: 40vw;
  }

  .minicart-wrapper {
    margin-top: 2px;
  }

  .header.panel > .header.links {
    margin-top: 7px;
  }
}
